<div class="row">
  <div class="col-sm-10">
          <h1 class="display-4">Donate</h1>
          <h6 class="text-muted">Thank you for choosing to donate your unwanted furniture and electrical items to Helping Hands.</h6>
          <br>
          <p class="lead">
              If you have clothes,bedding or small household and kitchen items to donate please take these to our charity shop: 
              The Lighthouse, 12 Gloucester St, Leamington Spa CV31 1EE (open 10-4 Mon-Sat). <br/><br/>
              For all other items of furniture and household items to donate please complete this form. We aim to respond within 72 hours. 
              Due to storage limitations we may not always be able to accept your donation.
              Please also note that the items you donate may be sold with all funds going into the charity. 
          </p>
  </div>
  <div class="col-sm-2 my-auto">
      <img src="../../../../assets/img/logo.jpg" alt="logo">
  </div>
</div>

<hr><br>