<div id="main" class="text-center" style="height: 100%;">
    <img id="logo" src="../../../assets/img/logo.jpg" class="shadow-lg mb-5" alt="" style="margin-top: 100px;">
    <div id="title" class="p-5 shadow" style="width: 600px; margin: 0 auto; margin-top: 50px; border-radius: 20px;">
        <h1 class="display-3 text-white">Thank You</h1>
        <hr class="ml-5 mr-5" style="border-color: white;">
        <p class="lead text-white mt-5">We will aim to be in touch within 72 hours to let you know if we can accept your
            items.</p>
        <p class="lead text-white mt-5">You should get an email acknowledging your offer within 5 minutes; if not please check your junk/spam folder!</p>
    </div>
</div>


<!-- <div class="h-100 p-5" style="background-color: #E9ECEF;">
    
    <div class="row">
        <div class="col text-center">
            <img id="logo" src="../../../assets/img/logo.jpg" class="shadow mb-5 mt-5" alt="">
            <hr>
        </div>
    </div>
    
    <div class="row p-5">
        <div class="col">
            <div class="jumbotron text-xs-center">
                <h1 class="display-3">Thank You!</h1>
                <p class="lead">We will aim to be in touch within 72 hours to let you know if we can accept your items.</p>
            </div>
        </div>
    </div>
    
</div> -->