<div class="container-fluid customBackground">
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div *ngIf="!loading" id="main" style="padding:3%;">

    <!--Title-->
    <div class="row">
      <h3 class="text-muted">Manage Submissions</h3>
    </div>

    <!--Subtitle-->
    <div class="row">
      <div class="text-muted">Use this page to manage new and existing submissions</div>
    </div>

    <hr> <br>

    <!--Tables-->
    <app-manage-table [isManage]="true" [donations]="newDonations" heading="New Submissions"></app-manage-table>
    <hr>
    <app-manage-table [isManage]="true" [donations]="acceptedDonations" heading="Accepted Submissions"></app-manage-table>
    <hr>
    <app-manage-table [isManage]="true" [donations]="awaitingCollectionDonations" heading="Awaiting Collection"></app-manage-table>
    <hr>
    <app-manage-table [isManage]="true" [donations]="completeDonations" heading="Completed"></app-manage-table>
    <hr>

  </div>
</div>