<div class="container-fluid h-100">
    <div class="row h-100">

        <!--Side panel-->
        <div class="col-2 h-100 border shadow p-3" style="background-color: #F8F9FA;">

            <div (click)="selectedSetting = 'users'" class="btn btn-info btn-block"><span class="mr-3">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>Users</div>
            <div (click)="selectedSetting = 'items'" class="btn btn-info btn-block"><span class="mr-3">
                    <fa-icon [icon]="faSitemap"></fa-icon>
                </span>Items</div>

        </div>

        <div class="col" style="padding: 3%">
            <!--Heading-->
            <h3 class="text-muted">Settings</h3>
            <div class="text-muted">Use this page to edit the settings for the application</div>
            <hr class="mb-4">
            <app-settings-users *ngIf="selectedSetting == 'users'"></app-settings-users>
            <app-settings-items *ngIf="selectedSetting == 'items'"></app-settings-items>

        </div>


    </div>